body{
    font-family:'robotolight';
}
/*----------Header CSS-----*/
header{
    font-family:'robotoregular';
}
.headerimg1{
	width:300px;
	height: 101px;
}
.headerimg2{
	width:1027px;
	height: 200px;
}
/*----------Navigation CSS-----*/
nav ul {
    margin:0; 
    padding:0;
}
nav ul li:hover{
    color:red;
    cursor:pointer;
}
nav ul li {
    display:inline;
    margin:60px;
    color:#808080;
}
/*----------Aside(Right side) CSS-----*/
aside p{
    border-bottom-style: dashed;
    border-bottom-width: 3px;
    width :190px;
    text-decoration: none;
    color:#808080; 
    font-weight:bold;
}
aside span{
    color:white;
    background-color: #808080;
    padding-left:5px;
    padding-right:85px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight:bold; 
}
aside input{
    border-color:red;
    border-style: solid;
    width:135px;
}
aside li input{
    margin-bottom: 15px;
}
aside button{
    border-color:red;
    border-style: solid;
}

aside{
    height:350px;
    width:300px;
    float:right;
    
}
/*----------Introduction Content CSS-----*/
.main {
    height:350px;
    width:1000px;
    float:left;
}
h3{
    color:red;
}
/*----------Images CSS-----*/
figure {
    display: inline-block; 
    padding-left: 70px;
    padding-right: 70px;
}
figcaption{
    text-align: center;
    font-weight: bold;
}
/*----------Down Section CSS-----*/
section li p {
    font-weight: bold;
    color:white;
}
section li{
    color:lightgrey;
}

section input{
    border-radius: 8px;
    margin-left:6px;
    background-color: lightgrey;
}
section label{
     width:50px;
     display:inline-block;
}
/*----------Footer CSS-----*/
footer a{
 text-decoration: none;
 color:lightgrey;   
}
footer ul {
	margin:0;
	padding:0;
}
footer ul li {
	display:inline;
}
footer {
	text-align:center;
	background-color:#606060;
    margin: 0px -12.5%;
    color:lightgrey;
    font-size: 14px;
}
/*----------Customize  CSS-----*/
.clear{
    clear:both;
}
.green{
    color:green;
}
.image{
    -webkit-transition: 2s;
     width: 200px;
    height: 200px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px; 
}
.image:hover{
    -webkit-filter: grayscale(100%);
}
.bold{
    font-weight:bold;
}
.float-left{
    float:left;
    padding-left: 90px;
    padding-right: 110px;
}
.fr{
    float:right;
    margin-top: 20px;
   
}
ul {
    list-style-type: none;
}
/*----------Roboto Light Font CSS-----*/
@font-face {
    font-family: 'robotolight';
    src: url('Roboto/roboto-light-webfont.eot');
    src: url('Roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/roboto-light-webfont.woff2') format('woff2'),
         url('Roboto/roboto-light-webfont.woff') format('woff'),
         url('Roboto/roboto-light-webfont.ttf') format('truetype'),
         url('Roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*---------Roboto Regular Font CSS-----*/
@font-face {
    font-family: 'robotoregular';
    src: url('Roboto/roboto-regular-webfont.eot');
    src: url('Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('Roboto/roboto-regular-webfont.woff') format('woff'),
         url('Roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('Roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*----------Button Gradient CSS-----*/
.button_example{
 width:60px;
 border:1px solid #25729a; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 10px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF;
 background-color: #3093c7; background-image: -webkit-gradient(linear, left top, left bottom, from(#3093c7), to(#1c5a85));
 background-image: -webkit-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -moz-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -ms-linear-gradient(top, #3093c7, #1c5a85);
 background-image: -o-linear-gradient(top, #3093c7, #1c5a85);
 background-image: linear-gradient(to bottom, #3093c7, #1c5a85);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#3093c7, endColorstr=#1c5a85);
}

.button_example:hover{
 border:1px solid #1c5675;
 background-color: #26759e; background-image: -webkit-gradient(linear, left top, left bottom, from(#26759e), to(#133d5b));
 background-image: -webkit-linear-gradient(top, #26759e, #133d5b);
 background-image: -moz-linear-gradient(top, #26759e, #133d5b);
 background-image: -ms-linear-gradient(top, #26759e, #133d5b);
 background-image: -o-linear-gradient(top, #26759e, #133d5b);
 background-image: linear-gradient(to bottom, #26759e, #133d5b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#26759e, endColorstr=#133d5b);
}

/*----------Navigation Gradient CSS-----*/
.nav_gradient{
border:1px solid #cacaca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:15px;font-family:arial, helvetica, sans-serif; padding: 10px 37px 10px 38px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3); color: #FFFFFF;
 background-color: #E6E6E6; background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
 background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
 background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}

.nav_gradient:hover{
 border:1px solid #b3b3b3;
 background-color: #cdcdcd; background-image: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#b3b3b3));
 background-image: -webkit-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -moz-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -ms-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: -o-linear-gradient(top, #cdcdcd, #b3b3b3);
 background-image: linear-gradient(to bottom, #cdcdcd, #b3b3b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cdcdcd, endColorstr=#b3b3b3);
}
/*----------Icomoon icons  CSS-----*/
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?ow6cfx');
    src:    url('fonts/icomoon.eot?ow6cfx#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ow6cfx') format('truetype'),
        url('fonts/icomoon.woff?ow6cfx') format('woff'),
        url('fonts/icomoon.svg?ow6cfx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon{display:inline; float:right;}
.icon-arrows_plus:before {
    content: "\e900";
    color: black;
    font-size:64px;

}
.icon-arrows_question:before {
    content: "\e901";
    font-size:64px;
    color: black;
}
.icon-arrows_right_double-31:before {
    content: "\e902";
    font-size:64px;
     color: black;
}
.icon-arrows_rotate_anti_dashed:before {
    content: "\e903";
     font-size:64px;
     color: black;
}
.icon-arrows_shrink_diagonal1:before {
    content: "\e904";
}
.icon-arrows_sign_left:before {
    content: "\e905";
}
.icon-arrows_sign_right:before {
    content: "\e906";
}
.icon-arrows_slide_right1:before {
    content: "\e907";
}
.icon-arrows_square_left:before {
    content: "\e908";
}
.icon-loop2:before {
    content: "\e909";
}

